<h1>URL Shortener</h1>

A small little app that lets you store small little versions of any URL.<br>

You can store any URL you'd like shortened, and can share these short URLs with
anyone you'd like.

<ul>
  <% if logged_in? %>
    <li>
        <%= link_to "See all URLs", url_instances_path %>
    </li>
    <li>
      <%= link_to "log out", logout_path %>
    </li>
  <% else %>
    <li>
        <%= link_to "Sign up", signup_path %>
    </li>
    <li>
        <%= link_to "login", login_path%>
    </li>
  <% end %>
</ul>
