<h2>Your URL information:</h2>

<p>
  Longhand URL: <%= @url_instance.longhand %><br>
  Shorthand URL: <%= @url_instance.shorthand %><br>
  Amount called: <%= @url_instance.count %>
</p>

<%= link_to 'All URLs', url_instances_path %>
